@import '../../../styles/settings.scss';

.root {
  position: relative;
}

.formWrapper {
  position: absolute;
  display: block;
  padding: 5px;
  height: 230px;
  width: 200px;
  top: 60px;
  right: 0;
  border: 5px solid #1565C0;
  background-color: white;
  z-index: 99;
}
