@import '../../../styles/settings.scss';

.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  display: block;
  max-width: 400px;
  align-items: center;
  margin: 0 10px;
}
