@import '../../../styles/settings.scss';

.root {
  padding: 20px 0 0;
}
.addButton {
  position: relative;
  text-decoration: none;
  &:after {
    content: "ADD";
    display: block;
    position: absolute;
    padding: 3px 0;
    top: 4.5px;
    left: 25px;
    width: 60px;
    height: 26px;
    border-radius: 3px;
    background-color: #1976d2;
    text-align: center;
    text-decoration: none;
    color: white;
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
  }
  &:hover {
    &:after {
      left: 45px;
      opacity: 1;
      transition: 0.5s;
    }
  }
}
